@page "/Tareas/Listadodetareas/"

@using BlazorApp2.Data
@inject TareaService service
@inject NavigationManager navigation

<h3>Listadodetareas</h3>
@if (tareas == null)
{
    <p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Tipo id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in tareas)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Titulo</td>
            <td>@item.TipoId</td>
            @* <td>@item.idTipo</td>*@

            <td>
                <button class="btn" @onclick="()=>Editar(item.Id)">Editar</button>
                <button class="btn" @onclick="()=>Borrar(item.Id)">Borrar</button>

            </td>
        </tr>
        }
    </tbody>
</table>
}
@code {
    private List<Tarea> tareas;

    protected override async Task OnInitializedAsync()
    {
         tareas = await service.GetAll();
    }

    protected void Editar(int Id)
    {
        navigation.NavigateTo("/Tareas/Editar/" + Id);
    }
    async Task Borrar(int Id)
    {

        await service.Remove(Id);
        tareas = await service.GetAll();
    }
}